{% extends "../layouts/base.njk" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>HELLO</h1>
    <form id="meteors" style="width: 16rem" action="/meteors" method="GET">
        <div class="mb-3">
            <label for="start_date" class="form-label">Start date</label>
            <input type="date" class="form-control" name="start_date" id="start_date" aria-describedby="startHelp" max={{maxDate}} required>
            <div id="startHelp" class="form-text">Required</div>
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">End date</label>
            <input type="date" class="form-control" name="end_date" id="end_date" max={{maxDate}}>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" name="count" id="count" value="true">
            <label class="form-check-label" for="count">Show total count</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" name="were_dangerous_meteors" id="were_dangerous_meteors" value="true">
            <label class="form-check-label" for="were_dangerous_meteors">Earth Hazard Alert</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
{% endblock %}