{% extends "../layouts/base.njk" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <section class='d-flex justify-content-center align-items-center gap-2 flex-wrap'>
        <div class='container' style="max-width: 48rem">
            <h1 class="display-4 text-primary fw-semibold">NASA Proxy Server</h1>
            <p class="fs-5">Unleash the cosmos with my NASA API Proxy Server! Your gateway to space adventures awaits. Ready to explore?</p>  
            <div class="text-center">
                <img class="mb-2" style="height:340px;width:340px;" src='/home.svg' alt="Astronaut" />
            </div>
        </div>
        

    </section>
{% endblock %}