{% extends "../layouts/base.njk" %}

{% block title %}
    Not Found
{% endblock %}

{% block content %}
    <img class="rounded mb-2" style="height:380px;width:380px;" src='404.svg'/>
    <h1 class="display-3">Page not found on URL:<h1/>
    <h4 class="display-6 text-warning">{{url}}<h4/>
{% endblock %}