{% extends "../layouts/base.njk" %}

{% block title %}
    Rover Form
{% endblock %}

{% block content %}
    <h1 class="display-3 mb-5">Latest Photos from Curiosity</h1>

    <section class="container d-flex justify-content-around align-items-center gap-5 flex-wrap">
        <img class="rounded-circle border shadow-lg border-4 object-fit-cover" style="max-width: 22rem; min-width: 14rem" src="/images/rover.svg" alt="Rover">

        <form action="/rover" method="post" class="w-100 mb-4" style="max-width: 26rem; min-width:16rem">
            <h3 class="text-primary mb-3">Send Your Cridentials</h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userName" placeholder="User name" name="userName" required>
                <label for="userName">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userId" placeholder="User ID" name="userId" required>
                <label for="userId">User ID</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apiKey" placeholder="API Key" name="apiKey" required>
                <label for="apiKey">Api Key</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">
                Submit
            </button>
        </form>

            
    </section>
{% endblock %}