{% extends "../layouts/base.njk" %}

{% block title %}
    Rover Photos
{% endblock %}

{% block content %}
    <h1 class="display-3 mb-5">Photos from rover</h1>

    {% if photos %}
        <ul class="list-unstyled d-flex gap-4 flex-wrap justify-content-center">
            {% for photo in photos %}
                <li>
                    <img class="img-thumbnail" style="width: 20rem; height:20rem" src={{photo.img_src}} alt="Rover">
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}