<footer class="d-flex align-items-center justify-content-center bg-secondary-subtle gap-3" style="height: 10rem;">
    <img class="mx-2" src="/logo.svg" alt="logo" />
    <p class="fs-6 m-0">Node.js proxy server project using the <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://api.nasa.gov/">NASA API</a>.</p>
</footer>