{% macro meteorData(meteor) %}
    <li class="card text-bg-dark" style="width: 22rem;">
        <div class="card-header">
            <h4 class="m-0 fs-6 text-info d-flex justify-content-between">{{meteor.name}}
                {% if meteor.is_potentially_hazardous_asteroid %}
                    <span class="badge text-bg-danger ms-auto">Danger</span>
                {% else %}
                    <span class="badge text-bg-primary ms-auto">Save</span>
                {% endif %}
            </h4>
            <span class="fs-6 text-secondary-emphasis">id: {{meteor.id}}</span>
   
        </div>
        <div class="card-body gap-2">
            <ul class="d-flex list-unstyled gap-3 mb-2">
                <li class="d-flex gap-2" style="width: 8rem;" title="Minimum diameter of meteor.">
                    <img src="/icons/dimension.svg" alt="Minimum diameter" />
                    min: {{meteor.diameter_in_meters.estimated_diameter_min}}
                </li>
                <li class="d-flex gap-2" title="Maximum diameter of meteor.">
                    <img src="/icons/dimension.svg" alt="Maxiumum diameter" />
                    max: {{meteor.diameter_in_meters.estimated_diameter_max}}
                </li>
            </ul>
            <ul class="d-flex list-unstyled gap-3">
                <li class="d-flex gap-2" style="width: 8rem;" title="Relative velocity in kilometers per second.">
                    <img src="/icons/speed.svg" alt="Meteor speed" />
                    {{meteor.relative_velocity_in_kilometers_per_second}} km/s
                </li>
                <li class="d-flex gap-2" title="Close approach full date">
                    <img src="/icons/date.svg" alt="Date of meteor observation" />
                    {{meteor.close_approach_date_full}}
                </li>
            </ul>
        </div>
    </li>
{% endmacro %}