<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
        <img class="mx-2" src="logo.svg" alt="logo" />
        NASA Proxy
    </a>
  </div>
</nav>